@import url('normalize.css');

@font-face {
    font-family: 'Pixel Emulator';
    src: url('font/pixel_emulator-webfont.woff2') format('woff2'),
         url('font/pixel_emulator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background        : url('../img/cenarios/cenario_academia.jpg') repeat-x center bottom;
    background-color  : #b4f8f9;
    background-size   : auto 100% !important;
    font-family       : 'Pixel Emulator';
    /*text-transform    : uppercase;*/
    font-size         : 62.5%;
    alignment-baseline: baseline;
    height            : 100vh;

    -webkit-user-select        : none;
    -moz-user-select           : none;
    -khtml-user-select         : none;
    -ms-user-select            : none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /*text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;*/
}

.container {
    text-align: center;
    position  : absolute;
    bottom    : 15%;
    left      : 0;
    right     : 0;
    width     : 100%;
    height    : 80%;
    margin    : 0 auto;
}

#bambam {
    display: inline;
}

#leo {
    display: none;
}

#bambam .player {
    background-image: url(../img/bodybuilder2_peso.png);
    cursor: pointer;
}

#leo .player {
    background-image: url(../img/leo_1.png);
}

.player {
    display            : inline-block;
    background-position: 100% 100%;
    background-size    : auto 100%;
    background-repeat  : no-repeat;
    width              : auto;
    height             : 100%;
}

.player-img {
    width     : auto;
    height    : 100%;
    visibility: hidden;
}

.player-bar-outer {
    width           : 30px;
    height          : 100%;
    border          : 5px solid;
    background-color: #F5F5F5;
    display         : inline-block;
    position        : relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.player-bar-inner {
    height          : 0px;
    max-height      : 100%;
    position        : absolute;
    background-color: #0F0;
    width           : 100%;
    bottom          : 0;

    -webkit-transition: all 0.4s;
    transition        : all 0.4s;
}

.player-bar-thirteen, .player-bar-zero {
    position: absolute;
    left: 0;
    right: -2px;
    margin: 0 auto;
}

.player-bar-zero {
    bottom: 4px;
}

.player-bar-thirteen {
    top: 4px;
}

.container-wrapper {
    width   : 100%;
    height  : 65%;
    display : inline;
    position: absolute;
    bottom  : 0;
    left    : 0;
    right   : 0;
    margin  : 0 auto;
}

#birlInit {
    width    : 300px;
    height   : 50px;
    font-size: 20px;
    margin   : 0 auto;
    display  : block;
}

/* Buttons */

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 0.5rem 1rem;
    height: 2em;
    width: 13em;
    line-height: 2em;
    display: inline-block;
    color: #fff;
    position: relative;
    border: 0.2em solid #000;
    margin: 0.5em;
}

.btn.red {
    background-color: red;
}

.btn.red:hover{
    background-color: #c22b21;
}

.btn.grey {
    background-color: grey;
}

.btn.orange {
    background-color: #ffa500;
}

.btn.orange:hover {
    background-color: #d99c18;
}

/* Modal Stuff */

.modal {
    display         : none;
    position        : fixed;
    z-index         : 1;
    padding-top     : 100px;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    margin    : auto;
    width     : 80%;
    max-width : 800px;
    color     : #FFF;
    font-size : 3em;
    text-align: center;
}

.modal-content h1 {
    /*-webkit-text-stroke: 3px black;*/
}

.modal-close:hover,
.modal-close:focus {
    color          : #000;
    text-decoration: none;
    cursor         : pointer;
}

/* Loading */

.loading {
    z-index: 1000;
    background-color: #404c54;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    margin-left: -70px;
}

/* I know... I know. */
.text-stroke {
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}