@import url('normalize.css');

body {
    background: url('../img/cenarios/cenario_academia.jpg') repeat-x center bottom;
    background-color: #b4f8f9;
    background-size: auto 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    alignment-baseline: baseline;
    height: 100vh;
}

.container {
    text-align: center;
    position: relative;
    width: 340px;
    margin: 0 auto;
}

#birlButton {
    cursor: pointer;
    background: url('../img/bodybuilder2_peso.png') no-repeat 100% 100%;
    background-position: center;
    width: 290px;
    height: 320px;
    display: inline-block;
}

#barra-outer {
    width: 20px;
    height: 235px;
    border: 6px solid;
    background-color: #F5F5F5;
    /*float: right;*/
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 32px;
}

#barra {
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
    height: 0px;
    background-color: #0F0;
    width: 20px;
    position: absolute;
    bottom: 0;
}

#birlInit {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
    display: block;
}

.btn {
    width: 150px;
    text-align: center;
    padding: 5px;
    background-color: #ccc;
    margin: 5px;
    cursor: pointer;
}

/* Modal Stuff */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}